.contener-error {
   background-color: (var(--color-white));
   padding-top: 30px;
   text-align: center;
   h2 {
      font-size: 2em;
      font-weight: 700;
      margin-bottom: 10px;
      color: (var(--color-three));
   }

   a {
      color: (var(--color-seven));
      font-size: 1.5em;
   }

   img {
      width: 100%;
      margin-top: 20px;
   }
}
