footer {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   width: 100%;
   height: 109px;
   background-color: (var(--color-black));

   @include mobil {
      height: 240px;
   }

   ul:first-child {
      display: flex;
      flex-direction: row;
      position: absolute;
      right: 250px;

      @include desktop {
         right: 10px;
      }

      @include tablet {
         right: 26px;
      }

      @include mobil {
         justify-content: center;
         width: 100%;
         right: 0px;
         padding-bottom: 15px;
         margin-bottom: 10px;
      }

      li {
         display: flex;
         text-align: center;

         .media {
            position: relative;
            width: 50px;
            height: 50px;
            padding-top: 10px;
            margin: 0 40px;
            background: #f1f1f1;
            border-radius: 50%;
            box-sizing: border-box;
            box-shadow: 0 5px 15px var(--color-one);
            background: linear-gradient(0deg, #ddd, #fff);

            transition: 0.5s;

            &:hover {
               box-shadow: 0 2px 5px var(--color-one);
            }

            @include tablet {
               width: 40px;
               height: 40px;
               margin: 0 10px;
            }

            .media-div {
               position: absolute;
               line-height: calc(60px - 6px);
               top: 10%;
               left: 11%;
               background: linear-gradient(0deg, #fff, #ddd);
               width: 80%;
               height: 80%;
               border-radius: 50%;

               transition: 0.5s;

               @include tablet {
                  top: 5%;
                  left: 5%;
                  width: 90%;
                  height: 90%;
               }

               .linkedin {
                  font-size: 25px;
                  padding: 7px;
                  color: black;

                  @include tablet {
                     font-size: 20px;
                  }

                  &:hover {
                     color: #0a66c2;
                  }
               }

               .github {
                  font-size: 25px;
                  padding: 7px;
                  color: black;

                  @include tablet {
                     padding: 5px;
                  }

                  &:hover {
                     color: rgb(166, 0, 255);
                  }
               }
            }
         }
      }
   }
   ul:nth-child(2) {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: absolute;
      left: 10%;
      width: 25%;
      height: 80px;
      color: var(--color-one);

      @include tablet {
         left: 5%;
      }

      @include mobil {
         width: 100%;
         top: 0;
         left: 0;
         align-items: center;
      }

      a {
         font-size: 1.5em;
         color: var(--color-one);
         text-decoration: none;

         @include tablet {
            font-size: 1.2em;
         }
      }

      .monCV {
         font-size: 1.5em;
         text-decoration: none;
         color: var(--color-one);

         @include desktop {
            left: 5%;
         }

         @include tablet {
            font-size: 1.2em;
            top: 40%;
            left: 50px;
         }

         @include mobil {
            top: 10%;
            left: 27%;
         }
      }
   }

   .footer-logo {
      position: absolute;
      top: 20px;
      width: 60px;

      @include mobil {
         top: 150px;
      }
   }

   p {
      position: absolute;
      top: 60px;
      font-family: 'Offside', sans-serif;
      color: (var(--color-white));

      @include mobil {
         top: 190px;
         font-size: 0.7em;
      }
   }
}
