#contener-projet {
   
   @include mobil {
      padding-top: 20px;
      padding-bottom: 20px;
   }

   .card-projet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 30px;
      
      @include tablet {
         flex-direction: column;
         width: 100%;
         margin: auto;
         margin-top: 30px;
      }
      @include mobil {
         flex-direction: column;
      }
   }
}
